*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppies',sans-serif;
}
body{
    background: #7da497;
}

body h2{
    color: #303843;
    text-align: center;
    margin-top: 3rem;
    font-weight: 800;
    font-size: 1.25rem;
}
.container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background: #303843;
    padding: 20px;
    border-radius: 10px;
}

form .calculator input{
    background: transparent;
    height: 60px;
    width: 60px;
    margin: 10px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

form input.equal{
    width: 145px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    font-size: 45px;
    text-align: right;
    flex: 1;
    box-shadow: none;
}

form input.opreator{
    color: #30d19b;
}