@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}


/* --------------- utility class --------------- */

.red-color {
    color: #e63946;
}

.light-color {
    color: aliceblue;
}

.white-color {
    color: white;
}

.black-color {
    color: #262525c9;
}

.gray-color {
    color: #848484;
}

.dark-color {
    background: #263238;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1em 1.5em;
    margin: 0.5em 0;
}

.btn-primary {
    border: 2px solid rgb(237, 237, 237);
    border-radius: 10em;
    background: whitesmoke;
}

.btn-primary:hover {
    background: #ddd;
}

.btn-secondary {
    border: 2px solid #e63946;
    border-radius: 2.5em;
    color: #e63946;
    background: #fff;
}

.btn-secondary:hover {
    background: #fcf3f2;
}


/* --------------- header styling --------------- */

header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    padding: 1rem;
}

h1,
h2,
h3 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: .5em;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-top: .3em;
}

li,
p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: .3em;
    line-height: 1.25em;
    margin-top: .5em;
    list-style-type: none;
}

nav h1 {
    float: left;
}

nav ul.item-list {
    float: right;
    list-style-type: none;
    margin-top: .05em;
}

nav.navbar::after {
    content: '';
    display: block;
    clear: both;
}

nav li {
    display: inline-block;
    padding: 1rem;
}

a:link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
}

nav a:hover {
    border-bottom: 2px solid white;
}


/* --------------- header styling --------------- */

.header-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}

.header-content h1 {
    font-weight: 700;
    text-transform: uppercase;
}

.header-content p {
    text-transform: uppercase;
}


/* --------------- section styling --------------- */

.showcase {
    padding: 10rem 0;
    background: #ddd;
}

.row {
    height: 350px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px #aaa;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.row-1 {
    margin-bottom: 10rem;
}

.row-1 .img-box,
.row-2 .text-box {
    float: left;
    width: 50%;
}

.row-2 .img-box,
.row-1 .text-box {
    float: right;
    width: 50%;
}

.img-box {
    height: 100%;
}

.img-box img {
    display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-box {
    height: 100%;
    padding: 3rem;
}


/* --------------- features styling --------------- */

.feature {
    padding: 10rem 0;
    background: #fff;
}

.wrapapper-box {
    box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.521);
}

.wrapapper-box::after {
    content: '';
    display: block;
    clear: both;
}

.box {
    padding: 3rem;
    height: 250px;
    width: 33.333333%;
    text-align: center;
    float: left;
}

.box-1,
.box-3 {
    background-color: #263238;
    color: #fff;
}

.box-2 {
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
    color: #fff;
}


/* --------------- footer styling --------------- */

footer {
    background: #263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.social-media-links i {
    margin: 2rem;
}


/* --------------- about us styling --------------- */

.about {
    padding: 5rem 0;
}

.about-heading::after {
    content: ' ';
    border: 3px solid #e63946;
    width: 100%;
    display: block;
}

.about-wrapper {
    margin-top: 2rem;
    text-align: center;
}

.about-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.about-wrapper li::before {
    content: '\2713';
    color: #e63946;
    padding: 1rem;
    font-weight: bold;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
}


/* --------------- count styling --------------- */

.counts {
    margin: 3rem;
    text-align: center;
}

.counts::after {
    content: '';
    display: block;
    clear: both;
}

.count-item {
    float: left;
    width: 25%;
}

.counts span {
    font-size: 3rem;
    font-weight: 700;
    color: #e63946;
}

.counts p {
    font-size: 2rem;
    font-weight: 500;
    color: #263238;
}


/* --------------- cta styling --------------- */

.cta-banner {
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
    padding: 1rem;
    color: #f4f4f4;
    box-shadow: 5px 5px 10px #00000057;
    margin-top: 3rem;
}

.cta-banner::after {
    content: '';
    display: block;
    clear: both;
}

.cta-banner-left {
    float: left;
    width: 60%;
}

.cta-banner-right {
    float: right;
    width: 40%;
    text-align: right;
}

.cta-line {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

.btn-cta {
    font-size: 3rem;
    font-weight: 700;
    border: 4px solid white;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    padding: .3rem 2.5rem;
}


/* --------------- contact styling --------------- */

.contact {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.contact-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.contact-info {
    height: 600px;
    width: 49%;
    float: left;
    padding: 1rem;
    background: #fff;
}

.info-wrapper i {
    display: inline-block;
    margin-right: 1rem;
    font-size: 2.5rem;
}

.info-wrapper h2 {
    display: inline-block;
    color: #848484;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0;
}

.info-wrapper {
    margin-bottom: 2rem;
}

.contact-info img {
    max-width: 90%;
    min-height: 30rem;
    object-fit: cover;
    object-position: right;
}


/* --------------- form styling --------------- */

.contact-form {
    width: 49%;
    float: right;
    background: #fff;
    font-size: 1.6rem;
    padding: 1rem;
}

.contact-me {
    margin-bottom: .7rem;
}

.form .contact-me label {
    display: block;
}

.form .contact-me label::after {
    content: '*';
    color: #e63946;
}

.form .contact-me input {
    padding: 0.5rem;
    width: 100%;
}

.form .contact-me textarea {
    width: 100%;
    padding: 1rem;
    height: 250px;
}

.from-btn {
    display: block;
    margin: 0 auto;
    padding: .5rem 2.5rem;
    background: #e63946;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}


/* --------------- media query styling --------------- */

@media (max-width:500px) {
    html {
        font-size: 50%;
    }
    .navbar h1,
    .navbar .item-list {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .header-content h1 {
        display: none;
    }
    .row {
        height: auto;
        width: 100%;
    }
    .row .img-box,
    .row .text-box {
        float: none;
        width: 100%;
        text-align: center;
    }
    .feature .box {
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
        box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.521);
    }
    .box-2,
    .box-3 {
        margin-top: 5rem;
    }
    .wrapapper-box {
        box-shadow: none;
    }
    .cta-banner-left,
    .cta-banner-right {
        float: none;
        width: 100%;
        text-align: center;
    }
    .contact-info,
    .contact-form {
        float: none;
        width: 100%;
        text-align: center;
        height: auto;
        margin-bottom: 5rem;
    }
    .form .contact-me label {
        margin-bottom: .15rem;
    }
}

@media (min-width:501px) and (max-width:768px) {
    html {
        font-size: 50%;
    }
    p {
        font-size: 1.8rem;
    }
    .navbar h1,
    .navbar .item-list {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .row {
        height: auto;
        width: 100%;
    }
    .row .img-box,
    .row .text-box {
        float: none;
        width: 100%;
        text-align: center;
    }
    .feature .box {
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
        box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.521);
    }
    .box-2,
    .box-3 {
        margin-top: 5rem;
    }
    .wrapapper-box {
        box-shadow: none;
    }
    .cta-banner-left,
    .cta-banner-right {
        float: none;
        width: 100%;
        text-align: center;
    }
    .contact-info,
    .contact-form {
        float: none;
        width: 100%;
        text-align: center;
        height: auto;
        margin-bottom: 5rem;
    }
    .form .contact-me label {
        margin-bottom: .15rem;
    }
}

@media (min-width:769px) and (max-width:1200px) {
    html {
        font-size: 56.25%;
    }
    .box h2 {
        font-size: 2.5rem;
    }
    .row h1 {
        font-size: 2.25rem;
        font-weight: 500;
    }
}

@media (orientation:landscape) and (max-height:500px) {
    header {
        height: 90vmax;
    }
}