@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    
}

body{
    background: #949acd;
}

.quote-box{
    width: 700px;
    background: #e7e9ea;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.15);
}

.quote-box h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: #59a8cd;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.quote-box quoteblock{
    font-size: 26px;
    min-height: 110px;
}

.quote-box quoteblock::before,.quote-box quoteblock::after{
    content: '"';
}

.quote-box .author-name{
    display: block;
    margin-top: 50px;
    float: right;
    position: relative;
}

.quote-box .author-name::before{
    content: '';
    width: 17px;
    height: 2px;
    background: #59a8cd;
    position: absolute;
    top: 55%;
    left: -25px;
}

.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-box button{
    background: #25a2dc;
    color: #fff;
    border-radius: 25px;
    border: 1px solid #59a8cd;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.quote-box button img{
    width: 20px;
    margin-right: 10px;
}

.quote-box button:nth-child(2){
    background: transparent;
    color: #333;
}