@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.search{
    height: 40vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.search .content{
    color: #fff;
    position: relative;
    z-index: 2;
    text-align: center;
}

.search h1{
    font-size: 2.5rem;
    font-weight: 600;
}

.search p{
    font-size: 1rem;
    margin-top: 8px;
}

.search .search-box{
    height: 55px;
    margin: 35px 0;
}

.search-box input{
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    padding-left: 55px;
}

.search-box i{
    position: absolute;
    left: 20px;
    top: 63.5%;
    color: #8d8d8d;
    font-size: 1.4rem;
    transform: rotateY(-50%);
}

input, button, i{
    outline: none;
    border: none;
    border-radius: 5px;
}

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery .images{
    columns: 5 340px;
    gap: 15px;
    margin-top: 40px;
    max-width: 95%;
}

.images img{
    width: 100%;
}

.images .card{
    list-style: none;
    margin-bottom: 14px;
    border-radius: 4px;
    position: relative;
    display: flex;
    overflow: hidden;
}

.gallery .load-more{
    margin: 50px 0;
    font-size: 1.2rem;
    padding: 12px 27px;
    background: #8a6cff;
    color: #fff;
    cursor: pointer;
}

.gallery .load-more.disabled{
    opacity: 0.6;
    pointer-events: none;
}

.images .card .details{
    position: absolute;
    bottom: -100px;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: button 0.1s ease;
}

.images .card:hover .details{
    bottom: 0;
}

.photographer{
    color: #fff;
    display: flex;
    align-items: center;
}

.photographer i{
    font-size: 1.4rem;
    margin-right: 10px;
}

.details .photographer span{
    font-size: 1.05rem;
}

.card .details button{
    padding: 3px 8px;
    font-size: 1.1rem;
    background: #fff;
    cursor: pointer;
}

.lightbox{
    position: fixed;
    z-index: 5;
    background: rgba(0,0,0,0.65);
    width: 100%;
    height: 100%;
    display: none;
}

.lightbox.show{
    display: block;
}

.lightbox .wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 850px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.wrapper .preview-img .img{
    max-height: 65vh;
    max-width: 90vh;
}

.wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .photographer{
    color: #333;
}

header .photographer i{
    font-size: 1.7rem;
}

header .photographer span{
    font-size: 1.2rem;
}

.preview-img .img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.preview-img{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

header .buttons i{
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 1.2rem;
    background: #8a6cff;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.buttons i:last-child{
    margin-left: 10px;
    background: #6c757d;
}