*{
    margin: 0;
    padding: 0;
    font-family: 'Poppies', sans-serif;
    box-sizing: border-box;
}

body{
    background: #01142e;
    color: #fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.container h1{
    font-weight: 600;
    font-size: 45px;
}

.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display{
    width: 100%;
    background: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 20px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.display img{
    width: 30px;
    cursor: pointer;
}

.display input{
    outline: none;
    border: none;
    font-size: 24px;
}

button{
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    border-radius: 5px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 26px;
}

button img{
    width: 28px;
    margin-right: 10px;
}
